img {
    width: 18px;
    height: 18px;
}

h1 {
    color: #0a4da5;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

label {
    font-weight: bold;
}

.options {
    font-style: italic;
    color: #454649;
}

.option {
    color: #0a4da5;
}

input {
    flex: 1;
    width: 400px;
}

button {
    cursor: pointer;
    background: #2e7fca;
    transition: background-color 0.3s ease;
    color: #ffffff;
    border: none;
    padding: 3px 8px;
}

button:hover {
    background-color: #0a4da5;
}