body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
}

div {
    display: flex;
    align-items: center;
}

.actions {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    flex: 1;
    width: 600px;
    height: 20px;
}

button {
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid transparent;  /* Add a transparent border so buttons stay in place on mouse:hover */
    background: transparent;
    padding: 0;
    transition: background-color 0.3s ease;
}

button:hover {
    border: 1px solid rgb(222, 222, 222);
}

button.copyBibtexButton:hover {
    border: 1px solid transparent;
}

button.copyBibtexButton:active {
    transform: scale(0.95); /* Slightly reduce the size of the button when clicked */
    opacity: 0.6; /* Reduce the opacity when clicked */
}

#status {
    color: #0a4da5;
    font-weight: bold;
}

img {
    width: 16px;
    height: 16px;
}

#help {
    color: #0a4da5;
    font-weight: bold;
    font-size: 16px;
}

#results {
    width: 100%;
    border-collapse: collapse;
}

#count {
    font-weight: bold;
    color: #2e7fca;
}

#results table {
    border-bottom: 1px solid #0a4da5;
}

#results thead tr {
    background-color: #2e7fca;
    color: #fdd700;
}

#results thead th {
    padding: 10px;
    border-top: 1px solid #0a4da5;
    border-bottom: 1px solid #0a4da5;
}

#results tbody td {
    padding: 10px;
    border-bottom: 1px solid #e9e7e7;
}

#results tbody tr:last-child td {
    border-bottom: none;
}

#results tbody tr:hover {
    background-color: #fdf9e7;
}

a {
    color: #0a4da5;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

td>img {
    width: 12px;
    height: 12px;
}

td>img.book {
    background: #f8c91f;
}

td>img.incollection {
    background: #ef942d;
}

td>img.article {
    background: #c32b72;
}

td>img.inproceedings {
    background: #196ca3;
}

td>img.editor {
    background: #33c3ba;
}