div {
    display: flex;
    align-items: center;
}

input {
    flex: 1;
    width: 500px;
    /* Adjust the desired width */
    height: 20px;
    /* Adjust the desired height */
}

button {
    margin-left: 5px;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
}

/* Adjust the width and height of the magnifier icon */
button img {
    width: 16px;
    /* Adjust the desired width */
    height: 16px;
    /* Adjust the desired height */
}